<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<!-- Place a login button anywhere on your application -->
  <%= button_to 'Login', '/auth/auth0', method: :post %>
  <%= button_to 'Logout', 'auth/logout', method: :get %>